@import "tailwindcss";

:root {
    --black: #181818;
    --white: #ffffff;
    --text-variant: #3e4949;
    --muted: #666;
    --primary: #006063;
    --primary-container: #007b7f;
    --accent: #3cc;
    --accent-soft: #c4fdff;



}

* {
    text-align: justify;

}

